<section class="hero">
    <div class="hero-content">
        <h1>A party without<br>
            <span class="coctails-color">cocktails</span><br> is not like a party
        </h1>
        <p>From classic sips to exotic mixes, we're your key to becoming a cocktail wizard!</p>
        <a href="#">
            <button type="button" class="btn">
                View Cocktails
            </button>
        </a>
    </div>
    <div class="overlay"></div>
    <div class="image-container">
        <img src="./img/hero/Rectangle.png" alt="Cocktail Image 1">
        <img src="./img/hero/stars.png" alt="Cocktail Image 2">
        <img src="./img/hero/Girl.png" alt="Cocktail Image 3">
    </div>
    <p class="search-text">Search your favorite cocktail by ABC</p>
</section>