<section class="container">
  <div class="section-hero">
    <div class="hero-content">
      <h1 class="main-text">
        A party without
        <span class="cocktails-color">cocktails</span><br>
        is not like a party
      </h1>

      <p class="exotic">
        From classic sips to exotic mixes, we're your key
        to becoming a cocktail wizard!
      </p>
    </div>
    <div>
      <a href="#cocktails-section">
        <button type="button" class="btn">View Cocktails</button>
      </a>
    </div>

    <div class="image-container">
      <img src="./img/hero/Rectangle.png" alt="Cocktail Image 1" />
      <img src="./img/hero/stars.png" alt="Cocktail Image 2" />
      <img src="./img/hero/Girl.png" alt="Cocktail Image 3" />
    </div>
  </div>
  <p class="search-text">Search your favorite cocktail by ABC</p>

  <!-- place it in the end of hero section
    search should be in the hero section due to Tech requirements -->
  <load src="./keyboard.html" />
  <load src="./search.html" />
</section>