<section class="ingredients-pop-up">
  <div class="backdrop-in is-hidden active" data-modal>
    <div id="modal-ingredients" class="container modal-in active">
      <button type="button" class="modal-in-close-button">
        <svg class="icon-in-close" width="11" height="11">
          <use href="../img/sprite.svg#cross"></use>
        </svg>
      </button>

      <div class="descripe-ingredients">
        <div class="header-in">
          <h2 id="ingredients-title" class="ingredients-title">some text</h2>
          <p class="kind-in">some text</p>
        </div>
        <div class="ingredients-information">
          <p class="main-description-in">some text</p>
          <ul class="ingredients-list">
            <li class="ingredients-description">some text</li>
            <li class="ingredients-description">some text</li>
            <li class="ingredients-description">some text</li>
            <li class="ingredients-description">some text</li>
          </ul>
        </div>
        <div class="buttons-in">
          <button type="button" id="btn-in" class="btn-in">
            ADD TO FAVORITE
          </button>

          <!---- <button type="button" id="btn-remove" class="btn-in btn-remove">
                REMOVE FROM FAVORITE
              </button> -->

          <button type="button" id="btn-back" class="btn-in btn-back">
            BACK
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
