.alphabet-menu {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-top: 33px;
}

.open-alphabet-btn {
  
  flex-direction: column;
  display: inline-flex;
  height: 34px;
  width: 90px;
  padding: 8px 14px 8px 15px;
  justify-content: center;
  align-items: flex-start;
  gap: 34px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: var(--turquoise, #9cdfdf);
}

.display {
  display: none;
}

.alphabet-list {
  position: absolute;
  z-index: 3;
  height: 84px;
  width: 90px;
  background: var(--cards-color);
  overflow: auto;
  border-radius: 8px;
  top: 70px;
}

.alphabet-list::-webkit-scrollbar {
  width: 3px;
    
}

.alphabet-list::-webkit-scrollbar-thumb {
height: 34px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(156, 223, 223, 0.80);
  padding-right: 4px;
}

.letter-item {
  display: flex;
  width: 100%;
  height: 28px;
  padding: 4px 10px;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.letter-link {
}

.icon-scroll {
  width: 18px;
  height: 18px;
  fill: var(--cards-color);
}

.letter-active {
  background-color: #9cdfdf;
}
