.btnStyle {
  width: 40px;
  height: 40px;

  border-radius: 4px;
  border: 1px solid #7e8fdd;
  background-color: transparent;

  transition: 0.4s;

  color: #7e8fdd;
  font-size: 16px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .btnStyle {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .btnStyle {
    margin-top: 44px;
  }
}

/* .btnStyle1{
    margin-bottom: 20px;
} */
