
.btnStyle {
    position: relative;
        flex-direction: column;
        display: inline-flex;
        height: 40px;
        /* width: 90px; */
        padding: 8px 14px 8px 15px;
        justify-content: center;
        align-items: flex-start;
        gap: 34px;
        /* flex-shrink: 0; */
        border: none;
        border-radius: 8px;
        background: rgba(126, 143, 221, 0.40);
        ;
        color: #fdfdff;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
    
        transition: all 250ms cubic-bezier(0.5, -0.75, 0.7, 2);
}

         .btnStyle:hover,
         .btnStyle:focus
         {
             background: #9cdfdf;
             transform: scale(1.2);
         }

        .btnStyleActive {
            position: relative;
                flex-direction: column;
                display: inline-flex;
                height: 40px;
                /* width: 90px; */
                padding: 8px 14px 8px 15px;
                justify-content: center;
                align-items: flex-start;
                gap: 34px;
                /* flex-shrink: 0; */
                border: none;
                border-radius: 8px;
                background: #9cdfdf;
                color: #fdfdff;
                text-align: center;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
            
                transition: all 250ms cubic-bezier(0.5, -0.75, 0.7, 2);
            }
          
              